annotated-doc==0.0.4
appdirs==1.4.4
atomicwrites==1.4.0
boto3==1.40.33
botocore==1.40.33
fastapi==0.121.3
google-measurement-protocol==1.1.0
hf-xet==1.1.10
huggingface-hub==0.35.0
inquirerpy==0.3.4
jsonpointer==2.1
matplotlib==3.10.0
multiprocess==0.70.16
pfzy==0.3.4
prices==1.1.1
pyarrow==21.0.0
pyasn1-modules==0.2.8
pycocoevalcap==1.2
pycocotools==2.0.10
pydantic==2.9.2
pydantic_core==2.23.4
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-multipart==0.0.20
requests==2.32.5
s3transfer==0.14.0
safetensors==0.6.2
scikit-video==1.1.11
setuptools==72.1.0
SoccerNet==0.1.62
starlette==0.50.0
tokenizers==0.22.1
uvicorn==0.38.0
wheel==0.45.1
xxhash==3.5.0
